body {
  background-color: #DFBB9D;
  text-align: center;
  margin: 0 ;
  font-family: 'Merriweather', serif;
}
.computer-img{
  border-radius: 50%;
  width: 25%;
  float:left;
  margin-right: 30px;
}
.a-pro{
  font-size: 2rem;
}
h1 {
  color: #3B44F6;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.6%;
}

h2 {
  font-weight: normal;
color: #3B44F6;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #54BAB9;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.boy{
  border-radius: 50%;
  width: 25%;
}
.karate{
  border-radius:50%;
  width: 25%;
  float:right;
  margin-left: 30px;
}
.skill-row {
  margin-left: 300px;
  margin-top:100px;
  margin-bottom: 100px;
  width: 50%;
  text-align: left;
  line-height: 2;
}
